# systemburn.config

# This file contains the default configuration
# information for systemburn. Comments are
# denoted by a '#' sign, and the needed numbers
# are described by the comments below:

# Number of worker threads:
WORKERS 8

# Thermal Relaxation time: (seconds)
# This is the time period for which the code will idle before
# beginning the set of loads and then again after completing the
# set of loads. The intent is to allow the idling system to 
# come into a baseline thermal equilibrium before and after the 
# loads. It should be noted that the loads should also run long
# enough for the system to come into a stressed thermal equilibrium
# for an accurate max temperature.
# This value can be set to 1 for quick testing.
# For small systems which have little impact on their environment
# values between 30-300 seconds are generally sufficient.
# Recommendations for values for larger systems which do
# affect their environment have yet to be developed but will likely
# run much longer to allow machine room power and cooling to also
# reach equilibrium.
REST_TIME 1

# The following are only useful on newer systems that support
# internal temperature monitoring via the kernel's /sys and
# /proc interfaces. Generally, this requires that the appropriate
# Linux kernel module (k8temp, k10temp, coretemp) or equivalent
# be loaded into the kernel.

# Emergency Shutdown Temperature: (degrees Centigrade)
# Over Temp protection requires access to the processor temperature.
# A few important notes:
# on AMD systems (esp k8) the 
MAX_TEMP 85

# Temperature Monitoring Frequency (in seconds)
# This determines how often the internal core temperature data is
# checked/updated and how often we check for an overtemp emergency.
MONITOR_FREQ 10

# Monitor thread ouput period:
# This is how often we summarize and print the temperatures.
# Note that the summary requires an MPI_REDUCE or equivalent
# and can thus be expense on larger system partitions. Adjust
# the output frequency accordingly:
# Small systems: 15-60 seconds
# larger systems: 
MONITOR_OUT 15
